<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fire Emblem Heroes</title>
</head>
<body>
    <h1>Fire Emblem Heroes</h1><br>
    <h2>Gacha Pools:</h2><br>
    {% for pool in pools %}
    <a href = "{% url 'feh:gacha' pool_name=pool.url_name%}">
        {% with '/feh/img/'|add:pool.image as pool_static %}
        <img src="{% static pool_static %}" />
        {% for hero in pool.heroes.all%}
            {% with '/feh/img/'|add:hero.image as hero_static %}
                <img src="{% static hero_static %}" />
            {% endwith %}
        {% endfor %}
        {% endwith %}
    </a><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href = "{% url 'feh:gacha' pool_name=pool.url_name%}">{{pool.name}}</a><br><br><br>
    {% endfor %}
</body>
</html>